<html>
	<head>
		<title> Cadastro </title>
	</head>
	<body>
		<h1> Cadastro Funcionario </h1>
		<form action = "../controler/c_cad_func.php" method = "POST">
			Nome: <input required type = "text" name = "nome" placeholder = "Digite seu nome">
			<br>
			Salario: <input required type = "text" name = "sal" placeholder = "Digite seu salario">
			<br>
			Data: <input required type = "text" name = "data" placeholder = "Digite a data">
			<br>
			<input type = "submit" value = "Cadastrar">
			<input type = "reset" value = "Limpar">
			<br>
		</form>
	</body>
</html>